# 01 Import Library

In [1]:
import pandas as pd
import numpy as np

# 02 Load Dataset

In [2]:
df_perolehan = pd.read_excel(r'C:\Users\hp\Internship\KPU Surabaya\Dataset\DPD\perolehan_suara_calon.xlsx')
df_pemilih = pd.read_excel(r'C:\Users\hp\Internship\KPU Surabaya\Dataset\DPD\pemilih_penggunaan_hak_pilih.xlsx')
df_surat = pd.read_excel(r'C:\Users\hp\Internship\KPU Surabaya\Dataset\DPD\penggunaan_surat_suara.xlsx')
df_disabilitas = pd.read_excel(r'C:\Users\hp\Internship\KPU Surabaya\Dataset\DPD\pemilih_disabilitas.xlsx')

# 03 Preprocessing

In [3]:
# Melt data pemilih (id = 'uraian')
df_pemilih_melted = df_pemilih.melt(id_vars=['Uraian'], 
                                    var_name='Kecamatan', 
                                    value_name='Jumlah')
df_pemilih_melted.rename(columns={'uraian': 'Uraian'}, inplace=True)

# Melt data surat suara (id = 'Uraian')
df_surat_melted = df_surat.melt(id_vars=['Uraian'], 
                                var_name='Kecamatan', 
                                value_name='Jumlah')

# Melt data disabilitas (id = 'Uraian')
df_disabilitas_melted = df_disabilitas.melt(id_vars=['Uraian'], 
                                            var_name='Kecamatan', 
                                            value_name='Jumlah')

In [4]:
df_perolehan.head()

,No,Kecamatan,AA. Ahmad Nawardi,"Ir. H. AA.La Nyalla Mahmud Mattalitti, M. HP.","Abdul Qodir Amir Hartono, S.E., S.H, M.H.","Adilla Azis, S.E.","Ir. H. Agus Rahardjo, MSc.M.",Drs. Ayub Khan,Bambang Harianto,"Catur Rudi Utanto, S.Sos.",Doddy Dwi Nugroho,Kondang Kusumaning Ayu,Kunjung Wahyudi,Dr. Lia Istifhama,"Mohammad Trijanto, S.H., M.M., M.H.",Jumlah Suara Sah,Jumlah Suara Tidak Sah
0,1,Karang Pilang,2211,6568,2310,2616,5647,1785,998,1035,830,6514,66,4048,759,35987,8099
1,2,Wonocolo,2270,6219,1878,2340,6718,1689,768,924,652,6406,726,7251,720,38561,7761
2,3,Rungkut,2914,9638,2995,5008,11736,2476,1251,1629,1406,9934,1226,7814,1337,59364,11505
3,4,Wonokromo,4578,13506,4410,5851,12034,3698,1575,1704,1201,11903,1174,9069,1485,72188,14927
4,5,Tegalsari,2739,9080,2517,3260,6194,2132,956,1123,961,6904,940,5728,88,43422,10061

In [5]:
df_pemilih_melted.head()

                          Uraian      Kecamatan  Jumlah
0  Jumlah Pemilih dalam DPT (LK)  Karang Pilang   26756
1  Jumlah Pemilih dalam DPT (PR)  Karang Pilang   28881
2    Pengguna hak pilih DPT (LK)  Karang Pilang   20183
3    Pengguna hak pilih DPT (PR)  Karang Pilang   23348
4   Pengguna hak pilih DPTb (LK)  Karang Pilang      58

In [6]:
df_surat_melted.head()

                                              Uraian      Kecamatan  Jumlah
0  Jumlah surat suara yang diterima, termasuk sur...  Karang Pilang   56839
1                  Jumlah surat suara yang digunakan  Karang Pilang   44086
2  Jumlah surat suara dikembalikan oleh pemilih k...  Karang Pilang      92
3  Jumlah surat suara yang tidak digunakan/tidak ...  Karang Pilang   12661
4  Jumlah surat suara yang diterima, termasuk sur...       Wonocolo   60869

In [7]:
df_disabilitas_melted.head()

                            Uraian      Kecamatan  Jumlah
0  Jumlah pemilih disabilitas (LK)  Karang Pilang      57
1  Jumlah pemilih disabilitas (PR)  Karang Pilang      48
2  Jumlah pemilih disabilitas (LK)       Wonocolo      42
3  Jumlah pemilih disabilitas (PR)       Wonocolo      65
4  Jumlah pemilih disabilitas (LK)        Rungkut      60